@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Francois+One|Play');

html, body, section {
	height: 100%;
}
body {
	color: #fff;
	text-align: center;
}
div {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.xop-container {
	display: flex;
}
div {
	flex-direction: column;
	justify-content: center;
}

.xop-left {
	background: url("https://i.imgur.com/17qb7ra.jpg");
	background-size: cover;
	background-position: center;
	flex: 1;
	padding: 1rem;
	transition: all .2s ease-in-out;
  text-transform: uppercase;

}

.xop-right {
	background: #FA8D70;
	background-size: cover;
	background-position: center;
	flex: 1;
	padding: 1rem;
	transition: all .2s ease-in-out;
  text-transform: uppercase;
}
.xop-left:hover, .xop-right:hover {
	transform: scale(0.95);

}
.xop-container h1 {
	letter-spacing: 2px;
  font-family: 'Francois One', sans-serif;
	font-size: 3rem;
}
.farm-button, .love-button {
	border-radius: 2px;
	color: #fff;
	background-color: #333;
	padding: 10px 6px;
	margin: 0 1%;
	text-align: center;
  font-family: 'Play', sans-serif;
	text-decoration: none;
  letter-spacing: 1px;
	display: inline-block;
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.5s;
	width: 150px;
}

.farm-button:hover, .love-button:hover {
	background: #fff;
	color: #333;
}

@media only screen and (max-width: 600px) {
  .xop-container {
    flex-direction: column;
  }

}