<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<title> Checkout </title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/Checkout.css">
	
</head>
<body>
	<div class="container">
		<div class="box-1">
			<h1> Your application has been submitted! </h1>
			<p>Thank you for getting in touch!
			We appreciate your interest in our program:Love Where You Live Corps. 
			One of our staff members will be getting back to you within a few hours. 
			In the meantime, you can check out the following resources we offer. 
			</p>
		<a class="button" href="https://testing-project-rmahtab0079.c9users.io/shop-list">Shop Now </a>
      		</div>
     
    	</div>
  	</div>

		
</body>
</html>