<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<title> Love Slide 1 </title>
	<link rel="stylesheet" type="text/css" href="stylesheets/Eligibility.css">
</head>
<body>
	<div class="container">
		<div class="box-1">
			<h1>Eligibility Requirement</h1>
			<p>Now is the time to join Green City Force! We are actively recruiting for our Love Where You Live Corps! In order to apply to be a Green City Force Member, you must meet ALL of the eligibility requirements below:</p>

			<ul>
				<li> Currently live in NYCHA </li>
				<li> Have earned a GED, high school diploma or equivalent </li>
				<li> Be between the ages of 18 and 24 </li>
				<li> Be a U.S. citizen or have legal resident status </li>
				<li> You CANNOT have a bachelor’s degree </li>
				<li> You CANNOT be enrolled in college for the Fall 2017 semester. </li>
				<li> For our Love Where You Live Corps, priority is given to people from  the following developments: Boulevard, Brownsville, Bushwick, Butler, Castle Hill, Ingersoll, Patterson, Polo Grounds, Queensbridge North and South, Red Hook East and West, St. Nicholas, Stapleton, Tompkins, Van Dyke, Wagner </li>
				<a class="button" href="https://testing-project-rmahtab0079.c9users.io/AmeriCorpApp2">Apply here</a>
			</ul>
        </div>

		<div class="box-2">
			<h1> Benefits </h1>
			<p> Corps member can receive the following: </p>
			<ul>
				<li> Job training through hands-on experience and serving your community </li>
				<li> $550 stipend every 2 weeks  </li>
				<li> Segal AmericCorps Education Award</li>
				<li> Monthly Unlimited MetroCard  </li>
				<li> Leadership and professional development opportunities </li>
				<li> Valuable skills to launch your career in sustainability  </li>
				<li> Assistance finding and securing employment </li> 
		</div>
	
	</div> 

</body>
</html>