<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<title>Application completed</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/farm-checkout.css">
</head>
<body>
	<div class="container">
		<div class="box-1">
			<h1> Your application has been submitted! </h1>
			<p>Thank you for getting in touch!
			We appreciate your interest in our volunteer events! 
			One of our staff members will be getting back to you within a few hours. 
			In the meantime, you can check out our ecommerce!
			</p>
		</div>
		<div class="card-group">
		  <div class="card">
		    <img class="card-img-top" src="http://www.arborbrothers.org/wp-content/uploads/2016/08/GCF-City-Logo.jpg" alt="Card image cap">
            <div class="button_div">  
            <button>Shop Now!</button>
            </div>
          </div>
		</div> 
	</div>

</body>
</html>




