<!DOCTYPE html>
<head>
    <title>Green City Force</title>
    <script type="text/javascript" src="jquery-2.1.4.js"></script>
    <link rel="stylesheet" href="/stylesheets/app_style.css" type="text/css">
</head>
<body>
<section class="xop-container">
    <div class="xop-left">
        <article>
            <h1>NYCHA Farms</h1><a class="farm-button" href="https://testing-project-rmahtab0079.c9users.io/farm-info ">Learn about the farms and volunteering</a>
        </article>
    </div>
    <div class="xop-right">
        <article>
            <h1>Love Where You Live  Apply for Americorps</h1><a class="love-button" href=" https://testing-project-rmahtab0079.c9users.io/Eligibility">Check Eligibility</a>
        </article>
    </div>
</section>
</body>