<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="new_volunteer_style.css">
    <title>New Volunteer!</title>
</head>
<body>
    <% data = [{name : "John", age : 22}, {name : "Susan", age : 35}] %>
    <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Registered Volunteers</h1>
             <p>View our hand-picked campgrounds from all over the world</p>
             <p>
                <a class="btn btn-primary btn-large" href="/campgrounds/new">Add New Campground</a>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
         <% for (var key in data) { %>
         <br>
         <h1> <%= data[key].name %> - <%= data[key].age %></h1>
         <br>
         <% } %>
         
    </div>
</div>
</body>
</html>