body{
    background: #FA8D70;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

h2{
    color: white;
    font-family: 'Francois One', sans-serif;
    text-align: center;
}

form{
    padding: 10px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}